<%= f.fields_for :billing_rate do |rate| %>
  <div class="row clear">
    <div class="title"><%= rate.label :dollars, "Billing rate" %></div>
    <div class="content">
      <%= rate.text_field :dollars, :size => 10 %>
      <%= rate.label :units, "per" %>
      <%= rate.select :units, BillingRate::UNIT_OPTIONS, {}, { :class => "billing-rate-units" } %>
      <span class="non-hourly-options" style="display:<%= ["month", "total"].include?( rate.object.units ) ? "block" : "none" %>">
        <%= rate.label :billable_choice, "for" %>
        <%= rate.select :billable_choice, f.object.billable_options, {}, { :class => "billable-choice" } %>
        <%= rate.label :hourly_rate_for_calculations %>
        <%= rate.text_field :hourly_rate_for_calculations, :size => 5, :class => "hourly-rate-for-calculations" %>
      </span>
    </div>
  </div>
<% end %>
