<div class="row clear">
  <div class="title"><%= f.label :invoice_date_string, "Invoice date" %></div>
  <div class="content"><%= f.text_field :invoice_date_string %></div>
</div>
<div class="row clear">
  <div class="title"><%= f.label :description %></div>
  <div class="content"><%= f.text_field :description %></div>
</div>
<div class="row clear">
  <div class="title"><%= f.label :paid_at %></div>
  <div class="content"><%= f.datetime_select :paid_at %></div>
</div>
