<%= content_for( :header ) do %>
  <h1>Invoices for <%= @client.name %></h1>
<% end %>

<% for invoice in @invoices %>
  <div id="invoice-<%= invoice.id %>">
    <%= link_to( invoice.invoice_date.strftime( "%Y-%m-%d" ), invoice ) %>
    <%= link_to( "edit", edit_invoice_path( invoice ) ) if( can?( :update, invoice ) ) %>
  </div>
<% end %>

<%= link_to( "New invoice", new_invoice_path( :client_id => @client.id ) ) if( can?( :create, @client.invoices.build ) ) %>
