<%= content_for :header do %>
  <h1>Invoice #<%= @invoice.id %></h1>
<% end %>

<p><%= @invoice.client.name %></p>
<p><%= @invoice.invoice_date.strftime( "%Y-%m-%d" ) %></p>
<p><%= @invoice.description %></p>

<% for project in @invoice.projects %>
  <div class="row clear">
    <div class="project-name">
      <%= project.name %>
    </div>
    <div class="billing-rate">
      <%= number_to_currency( project.billing_rate.dollars ) %>/<%= project.billing_rate.units %>
    </div>
    <div class="hours-worked">
      x <%= ( TicketTime.batch_seconds_worked( project.ticket_times.where( :invoice_id => @invoice.id ) ) / 360 ).round.to_f / 10 %> hours
    </div>
    <div class="amount">
      <%= number_to_currency( TicketTime.batch_dollars_earned( project.ticket_times.where( :invoice_id => @invoice.id ) ) ) %>
    </div>
  </div>
<% end %>
<div class="row clear">
  <div class="project-name"></div>
  <div class="billing-rate"></div>
  <div class="hours-worked"><b>Total</div>
  <div class="amount"><b><%= number_to_currency( TicketTime.batch_dollars_earned( @invoice.ticket_times ) ) %></b></div>
</div>
