<div id="addresses" class="clear">
  <div id="bill-to">
    <h2>Bill to:</h2>
    <%= @invoice.client.name %><br />
    <%= @invoice.client.address.line_1 %><br />
    <%= "#{@invoice.client.address.city}, #{@invoice.client.address.state} #{@invoice.client.address.zip_code}" %>
  </div>
  <div id="remit-to">
    <h2>Remit to:</h2>
    Composition9, LLC<br />
    736 Oxford Lane<br />
    Fort Collins, CO 80525
  </div>
</div>
<div id="invoice-details">
  Invoice #<%= @invoice.id %> dated <%= @invoice.invoice_date.strftime( "%m.%d.%Y" ) %><br />
  <%= @invoice.description %>
</div>

<div id="invoice-body">
  <% for project in @invoice.projects %>
    <div class="row invoice-row clear">
      <div class="project-name">
        <%= project.name %>
      </div>
      <div class="hours-worked">
        <%= ( TicketTime.batch_seconds_worked( project.ticket_times.where( :invoice_id => @invoice.id ) ) / 360 ).round.to_f / 10 %> hours
      </div>
      <div class="billing-rate">
        <% if( @invoice.client.billing_rate.units == "hour" ) %>
          x <%= number_to_currency( project.billing_rate.dollars ) %>/<%= project.billing_rate.units %>
        <% end %>
      </div>
      <div class="amount">
        <% if( @invoice.client.billing_rate.units == "hour" ) %>
          <%= number_to_currency( TicketTime.batch_dollars_earned( project.ticket_times.where( :invoice_id => @invoice.id ) ) ) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row total clear">
    <div class="project-name"></div>
    <div class="hours-worked"></div>
    <div class="billing-rate"><b>Total</b></div>
    <div class="amount">
      <% if( @invoice.client.billing_rate.units == "hour" ) %>
        <%= number_to_currency( TicketTime.batch_dollars_earned( @invoice.ticket_times ) ) %>
      <% else %>
        <%= number_to_currency( @invoice.client.billing_rate.dollars ) %>
      <% end %>
    </div>
  </div>
</div>
