<%= content_for :header do %>
  <h1>Client</h1>
<% end %>

<p>created by <%= @client.created_by_user.username %></p>

<%= form_for( @client ) do |f| %>
  <%= render( "shared/error_messages", :target => f.object ) %>
  <%= render( :partial => "form", :locals => { :f => f } ) %>
  <div class="row clear">
    <div class="title"> </div>
    <div class="content"><%= f.submit "Update" %></div>
  </div>
<% end %>
<% if( can?( :read_finances, @client ) ) %>
  <%= link_to "invoices", client_invoices_path( :client_id => @client.id ) %>
<% end %>
