<%= content_for :header do %>
  <h1>Client</h1>
<% end %>

<p>created by <%= @client.created_by_user.username %></p>

<% if( can?( :update, @client ) ) %>
  <%= form_for( @client ) do |f| %>
    <%= render( :partial => "form", :locals => { :f => f } ) %>
    <div class="row clear">
      <div class="title"> </div>
      <div class="content"><%= f.submit "Update" %></div>
    </div>
  <% end %>
<% else %>
  <p><%= @client.name %></p>
  <p><%= link_to @client.web_address, @client.web_address %></p>
  <p><%= @client.address.street_address %></p>
  <p><%= @client.address.phone %></p>
  <p><%= @client.billing_frequency %></p>
  <p><%= @client.active ? "Active" : "Not active" %></p>
<% end %>
