<%= content_for :header do %>
  <h1>Client</h1>
<% end %>

<p>created by <%= @client.created_by_user.username %></p>

<p><%= @client.name %></p>
<p><%= link_to @client.web_address, @client.web_address %></p>
<p><%= @client.address.street_address %></p>
<p><%= @client.address.phone %></p>
<p><%= @client.billing_frequency %></p>
<p><%= @client.active ? "Active" : "Not active" %></p>
<% if( can?( :read_finances, @client ) ) %>
  <%= link_to "invoices", client_invoices_path( :client_id => @client.id ) %>
<% end %>
