<%= line.name %>
<span class="sidenote">
  <%= line.minutes_worked.to_i %>/<%= line.estimated_minutes.to_i %>
  <%= line.billing_rate.description if( can?( :read_finances, line ) ) %>
  created by <%= line.created_by_user.username %>
</span>
<%= link_to "edit", "#", :class => "edit-ticket", "data-ticket-id" => line.id if( can?( :update, line ) ) %>
<br />
<%= render( :partial => "ticket_times/starter", :object => line ) %>
