<%= form_for( form, :remote => true ) do |f| %>
  <%= render( "shared/error_messages", :target => f.object ) %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :client_id %>
  <%= f.hidden_field :created_by_user_id %>
  <%= f.hidden_field :updated_by_user_id, :value => current_user.id %><br />
  <%= render( :partial => "billing_rates/form", :locals => { :f => f } ) if( can?( :manage_finances, f.object.client ) ) %>
  <%= f.fields_for :user_roles do |role| %>
    <div class="user-role">
      <%= role.hidden_field :user_id %>
      <%= role.object.user.username %>
      <%= role.label :admin %>
      <%= role.check_box :admin, :disabled => ( role.object.user_id == f.object.created_by_user_id ) %>
      <%= role.label :worker %>
      <%= role.check_box :worker %>
      <%= role.label :finances %>
      <%= role.check_box :finances, :disabled => !can?( :manage_finances, f.object.client ) %>
    </div>
  <% end %>
  <% if( form.new_record? ) %>
    <%= f.submit "Create project" %>
    <%= link_to "cancel", "#", :class => "cancel-new-project" %>
  <% else %>
    <%= f.submit "Update project" %>
    <%= link_to "cancel", "#", :class => "cancel-edit-project", "data-project-id" => form.id %>
  <% end %>
<% end %>
<hr />
