<div class="project" id="project-<%= line.id %>">
  <%= line.name %>
  <span class="sidenote">
    <%= line.billing_rate.description if( can?( :read_finances, line ) ) %> created by <%= line.created_by_user.username %>
    <%= line.billing_rate.description if( false ) %>
  </span>
  <%= link_to "edit", "#", :class => "edit-project", "data-project-id" => line.id if( can?( :update, line ) ) %>
  <br />
  <%= link_to "tickets", "#", :class => "expand-project-details", "data-project-id" => line.id %>
  <div class="details">
  </div>
  <%= link_to "collapse", "#", :class => "collapse-project-details" %>
  <hr />
</div>
