<%= content_for( :header ) do %>
  <h1>Projects</h1>
<% end %>

<% for project in @projects %>
  <div class="project" id="project-<%= project.id %>">
    <%= project.name %><br />
    <%= link_to "tickets", "#", :class => "expand-project-details", "data-project-id" => project.id %>
    <div class="details">
    </div>
    <%= link_to "collapse", "#", :class => "collapse-project-details" %>
  </div>
<% end %>
