<div class="goal clear" id="goal-<%= line.id %>">
  <%= hidden_field_tag "goal_priorities[#{line.id}][old]", line.priority %>
  <%= text_field_tag "goal_priorities[#{line.id}][new]", line.priority, :size => 2 %>
  <%= line.full_description %>
  <%= link_to "delete", line, :method => :delete, :confirm => "are you sure you want to permanently delete this goal?", :remote => true %>
  <div class="progressbar" data-percent-complete="<%= line.percent_complete %>"></div>
  <hr />
</div>
